<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Urban Explorer</title>
</head>

<body>
	<h1>Urban Explorer - Login</h1>

	<nav>
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
			<li><a href="/dashboard">Dashboard</a></li>
		</ul>
	</nav>


	<form action="/login" method="post" class="{{if .hasError}}error{{end}}">
		<div>
			<label>
				<span>Email</span>
				<input type="email" name="email" />
			</label>

			<label>
				<span>Password</span>
				<input type="password" name="password" />
			</label>
		</div>

		<div>
			<button type="submit">Submit</button>
			<button type="reset">Reset</button>
		</div>
		{{if .hasError}}

		<div>{{.error}}</div>

		{{end}}
	</form>
</body>

</html>