---
interface Props {
	title?: string;
	overrideTitle?: boolean;
}

const { title = "", overrideTitle = false } = Astro.props;

let pageTitle = "Urban Explorer";
if (title) {
	if (overrideTitle) {
		pageTitle = title;
	} else {
		pageTitle += ` - ${title}`;
	}
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global lang="scss">
	:root {
		--background: #161416;
		--background-shade: #131213;
		--background-tint: #323032;
		--text: #cfd7d9;
		--primary: #7da2e2;
		--primary-shade: #6272c4;
		--primary-tint: #a4cdef;
		--secondary: #888f92;
		--secondary-shade: #616469;
		--secondary-tint: #a8bbc0;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
		color: var(--text);

		&:focus {
			outline: none;
		}
	}

	html {
		background: var(--background);
		font-size: 62.5%;
	}

	body {
		font-size: 1.6rem;
	}

	button {
		color: var(--background);
		background: var(--primary-tint);
		border: 1px solid transparent;
		border-radius: 4px;
		padding: 0.4rem;
		transition: all 0.2s ease-in-out;

		&:hover,
		&:focus {
			background: var(--primary-shade);
			border: 1px solid var(--text);
			outline: 2px solid var(--primary);
		}
	}

	input {
		color: var(--background);
		background: var(--text);
		border: 1px solid var(--text);
		padding: 0.4rem;
		width: 100%;
		transition: all 0.2s ease-in-out;

		&:focus {
			border: 1px solid var(--primary-shade);
		}
	}
</style>
