.sectionAbout {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.sectionFeatures {
  padding: 20rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url(../../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -10rem;

  transform: skewY(-7deg);

  & > * {transform: skewY(7deg)};
}

.sectionTours {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  padding-bottom: 10rem;
  margin-top: -10rem;
}  

.sectionStories {
  position: relative;
  padding: 15rem 0;
}

.sectionBook {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
  background-image: linear-gradient(105deg, rgba($color-white, .8) 50%, transparent 50.1%), url(../../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  &__form {
    width: 50%;
    padding: 5rem;  
  }
}
