---
import "../styles/global.scss";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import TermsOfUse from "../components/TermsOfUse.astro";

export interface Props {
  title?: string;
}

const { title: extraTitle } = Astro.props;
const title = `Hack SRS - ${extraTitle}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <header>
      <Header />
    </header>

    <aside>
      <Navigation />
    </aside>

    <main>
      <slot />
    </main>

    <footer>
      <TermsOfUse />
    </footer>
  </body>

  <style lang="scss">
    body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "header"
        "main"
        "footer";

      @media (min-width: 768px) {
        grid-template-columns: 20rem 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
          "header  header"
          "nav     main"
          "footer  footer";
      }
    }

    header {
      grid-area: header;
    }

    aside {
      grid-area: nav;
    }

    main {
      grid-area: main;

      @media (min-width: 400px) {
        margin: 0 auto;
        width: 400px;
      }

      @media (min-width: 425px) {
        width: 400px;
      }

      @media (min-width: 768px) {
        width: 100%;
      }
    }

    content {
      display: block;
      background: red;
      height: 4000px;
    }

    footer {
      margin: 1rem 4rem 0 4rem;
      grid-area: footer;
    }
  </style>
</html>
