.container {
  background-color: red;
  display: grid;
  grid-template-areas:
    "info       info       combat         proficiencies"
    "profBonus  saves      weapons        proficiencies"
    "stats      skills     weapons        traits"
    "stats      skills     weapons        traits";
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 100px 100px 1fr 200px;
  height: 100vh;
}

.info {
  background: lightblue;
  grid-area: info;
}

.stats {
  background: lightcoral;
  grid-area: stats;
}

.profBonus {
  background: lightgray;
  grid-area: profBonus;
}

.saves {
  background: lightpink;
  grid-area: saves;
}

.skills {
  background: lightsalmon;
  grid-area: skills;
}

.proficiencies {
  background: lightseagreen;
  grid-area: proficiencies;
}

.combat {
  background: lightskyblue;
  grid-area: combat;
}

.weapons {
  background: lightsteelblue;
  grid-area: weapons;
}

.traits {
  background: lightyellow;
  grid-area: traits;
}
