---
const classList = (await Astro.glob("../pages/classes/*.mdx"))
  .filter((c) => !c.frontmatter?.unlisted)
  .sort((a, b) => a.frontmatter?.title?.localeCompare(b.frontmatter?.title))
  .sort((a, b) => a.frontmatter?.type?.localeCompare(b.frontmatter?.type))
  .map((item) => ({
    url: item.url,
    title: item.frontmatter?.title,
    type: item.frontmatter?.type,
    desc: item.frontmatter?.description,
  }));
---

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Type</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    {
      classList.map((row) => (
        <tr>
          <td>
            <a href={row.url}>{row.title}</a>
          </td>
          <td>{row.type}</td>
          <td>{row.desc ? row.desc : "-"}</td>
        </tr>
      ))
    }
  </tbody>
</table>
