<h7>SRS Statement of Purpose and Terms of Use</h7>
<small>
  <p>
    Standard RPG System (abbreviated SRS) is copyright FarEast Amusement Research, Ltd., and Inoue Jun'ichi, and
    provided as a service. The purpose of SRS is to provide a standard rule set for writing community-owned RPG material
    and ensuring compatibility in play, and to encourage the development of a pleasant and easy to work with TRPG
    environment. Those who wish to participate in this service and use SRS must agree to support these aims.
  </p>
</small>

<style>
  h7 {
    font-size: 1rem;
    color: var(--faded-text);
  }

  p {
    line-height: 0.8rem;
    color: var(--faded-text);
    font-size: 0.8rem;
    text-align: justify;
  }
</style>
