.base-page {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr minmax(0, auto);

	&__content {
		height: 100%;
		width: 100%;
		overflow-y: auto;
	}

	&__navigation {
		width: 100%;
	}
}
