---
import Navigation from "../components/Navigation.astro";
import PublicLayout from "../layouts/PublicLayout.astro";
---

<PublicLayout title="Welcome to Urban Explorer" overrideTitle={true}>
	<Navigation />
	<main>
		<h1>Urban Explorer</h1>
		<p>This is the space for me to display where I've explored so far.</p>
	</main>
</PublicLayout>
