---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<Navigation />
	<main>
		<h1>Page</h1>
	</main>
</Layout>
