---
import LoginForm from "../components/LoginForm.astro";
import PublicLayout from "../layouts/PublicLayout.astro";
---

<PublicLayout title="Login">
	<main>
		<h3>Login</h3>
		<LoginForm client:load />
	</main>
</PublicLayout>

<style lang="scss">
	main {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h3 {
		font-size: 3rem;
		margin-bottom: 3rem;
	}
</style>

<script>
	import { AUTH_CHECK_URL } from "../constants/routes";

	fetch(AUTH_CHECK_URL, { credentials: "include" })
		.then((res) => {
			if (res.ok) {
				window.location.replace("/dashboard");
			}
		})
		.catch((err) => {
			console.error(err);
			window.location.replace("/login");
		});
</script>
