.root-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: relative;

	&__hero {
		margin-bottom: 10rem;
	}

	&__footer {
		bottom: 0;
		color: var(--background-tint);
		left: 50%;
		margin-bottom: 1rem;
		position: absolute;
		text-align: center;
		transform: translateX(-50%);
		width: 100%;
	}
}
