<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Urban Explorer</title>
</head>

<body>
	<h1>Urban Explorer - Login</h1>

	<form action="/login" method="post">
		<div>
			<label>
				<span>Email</span>
				<input type="email" />
			</label>

			<label>
				<span>Password</span>
				<input type="password" />
			</label>
		</div>

		<div>
			<button type="submit">Submit</button>
			<button type="reset">Reset</button>
		</div>
	</form>
</body>

</html>