<nav>
  <ul>
    <li><%= link_to "ALPHA BLOG", root_path %></li>
    <li><%= link_to "Create new article", new_article_path %></li>
    <li><%= link_to "View articles", articles_path %></li>
  </ul>

</nav>

<form>
  <label>
    <input type="search" placeholder="Search">
    <button type="submit">Search</button>
  </label>
</form>