:root {
  --text: #1d1f21;
  --white: #f9f1f6;
  --black: #1d1f21;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: blue;
}
