@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,400;1,800&family=Smooch+Sans:wght@100;400;700&display=swap");

:root {
	--background: hsl(300, 5%, 10%);
	--background-shade: hsl(300, 5%, 5%);
	--background-tint: hsl(300, 5%, 20%);

	--text: hsl(320, 20%, 90%);
	--text-shade: hsl(320, 20%, 60%);
	--text-tint: hsl(320, 20%, 95%);

	--primary: hsl(35, 85%, 50%);
	--primary-shade: hsl(30, 90%, 35%);
	--primary-tint: hsl(40, 95%, 65%);

	--danger: hsl(5, 85%, 50%);

	--title-font: "Smooch Sans";
	--text-font: "Libre Franklin";

	--scrollbarBG: var(--background);
	--thumbBG: var(--text);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;

	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

::-webkit-scrollbar {
	width: 11px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}

html {
	background: var(--background);
	color: var(--text);
	font-family: var(--text-font, sans-serif), "Lucida Sans", sans-serif;
	font-size: 62.5%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	font-size: 1.6rem;
	letter-spacing: 0.1px;
}

a {
	border-bottom: 2px solid transparent;
	color: var(--primary);
	text-decoration: none;
	transition: all 0.3s ease;

	&:focus,
	&:visited,
	&:hover {
		color: var(--primary-shade);
		border-bottom: 2px solid var(--primary-shade);
	}
}
