.animated-logo {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	.animated-logo__upper,
	.animated-logo__lower,
	.animated-logo__outer {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.animated-logo__lower,
	.animated-logo__upper {
		animation: example 10s infinite alternate ease-in-out;
	}
}

@keyframes example {
	0% {
		transform: rotate(-5deg);
	}
	5% {
		transform: rotate(0deg);
	}
	95% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}
