.button {
	background: var(--text);
	border-radius: 3px;
	border: 1px solid var(--text);
	color: var(--background);
	padding: 0.2rem 0.8rem;
	transition: all ease 0.2s;

	&:hover,
	&:visited,
	&:focus {
		background: var(--text-tint);
		box-shadow: 0rem 0rem 1rem rgb(96, 96, 96);
		color: var(--background-tint);
	}

	&--default {
		background: var(--text);
		color: var(--background);

		&:hover,
		&:visited,
		&:focus {
			background: var(--text-shade);
			color: var(--background-tint);
		}
	}

	&--primary {
		background: var(--primary);
		border: 1px solid transparent;
		color: var(--background);

		&:hover,
		&:visited,
		&:focus {
			background: var(--primary-tint);
			color: var(--background-tint);
		}
	}

	&--danger {
		background: var(--danger);
		border: 1px solid transparent;
		color: var(--text);

		&:hover,
		&:visited,
		&:focus {
			background: var(--danger);
			color: var(--text);
		}
	}

	&--transparent {
		background: transparent;
		border: 1px solid transparent;
		color: var(--text);

		&:hover,
		&:visited,
		&:focus {
			background: transparent;
			color: var(--text);
		}
	}

	&--big {
		font-size: 3rem;
		font-weight: 800;
		letter-spacing: 1px;
		padding: 1rem 2rem;
		text-transform: uppercase;
	}

	&--medium {
		font-size: 1.6rem;
		padding: 0.4rem 0.8rem;
	}

	&--small {
		font-size: 1.4rem;
		padding: 0.2rem 0.6rem;
	}
}
