.home-hero {
	text-align: center;

	&__logo {
		height: 120px;
	}

	&__title {
		font-family: var(--title-font);
		font-size: 5rem;
		font-weight: 100;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__sub {
		font-size: 1.8rem;
		font-weight: 100;
	}
}
