.loading {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	&__upper,
	&__lower,
	&__outer {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&__lower,
	&__upper {
		animation: loadingMovement 2s infinite alternate ease-in-out;
	}
}

@keyframes loadingMovement {
	0% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(330deg);
	}
}
