<form>
	<label>
		<div>Email</div>
		<input type="email" name="email" />
	</label>

	<label>
		<div>Password</div>
		<input type="password" name="password" />
	</label>

	<button type="submit">Login</button>
	<button type="reset">Clean</button>

	<span id="error-box"></span>
</form>

<style>
	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 20rem;
	}
</style>

<script>
	import { AUTH_LOGIN_URL } from "../constants/routes.ts";

	const form = document.querySelector("form");
	if (form) {
		form.addEventListener("submit", (evt) => {
			evt.preventDefault();
			const body = new FormData(form);
			fetch(AUTH_LOGIN_URL, {
				credentials: "include",
				method: "POST",
				body,
			})
				.then((res) => {
					return res.json();
				})
				.then((data) => {
					if ("error" in data && "message" in data) {
						const box = document.getElementById("error-box");
						if (!box) return;
						box.innerText = data.message;
					} else {
						window.location.replace("/dashboard");
					}
				})
				.catch((err) => console.error(err));
		});
	}
</script>
