.floating-new-trip-button {
	font-size: 1.6rem;
	background: none;
	border: none;
	color: var(--text);
	display: flex;
	flex-direction: column;
	align-items: center;

	&__icon {
		height: 2rem;
		margin-right: 1rem;
	}

	&__dialog {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}
