.trip-list {
	flex-grow: 1;

	&__title {
		text-align: center;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 0rem 2rem;
	}

	&__loading {
		height: 12rem;
		width: 100%;
	}
}
