:root {
  --background: black;
  --text: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.6rem;
}
