.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10rem;
    padding: 1.3rem 3rem;
    border: none;
    
    transition: all ease 0.3s;
  }
  
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);
  }
  
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.7rem 1rem rgba($color-black, 0.15);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    
    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    
    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    animation: moveInBottom ease 0.5s 0.75s;
    animation-fill-mode: backwards;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s ease;
  }

  &:hover::after {
    transform: scale(2);
    opacity: 0;
  }

  &-text {
    &:link,
    &:visited {
      font-size: $defaultFontSize;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all ease 0.2s;
    }
  
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
      transform: translateY(0px);
    }
  }
}



