html {
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;

}

.mosquito1 {
    height: 50px;
    width: 50px;
}

.mosquito2 {
    height: 70px;
    width: 70px;
}

.mosquito3 {
    height: 90px;
    width: 90px;
}

.ladoA { transform: scalex(1); }
.ladoB { transform: scalex(-1); }
