.container {
  display: grid;
  grid-template-areas:
    "name name  name   level"
    "race class player experience";
  grid-template-columns: repeat(4, minmax(0, auto));
  grid-template-rows: repeat(2, minmax(0, auto));
}

.name {
  display: flex;
  flex-direction: column-reverse;
  grid-area: name;

  span {
    font-size: 12px;
    text-align: center;
  }

  input {
    background: none;
    border: none;
    font-size: 20px;
    height: 100%;
    text-align: center;
    text-decoration: underline 1px;
    text-decoration-skip: 10px;
  }
}

.level {
  display: flex;
  flex-direction: column-reverse;
  grid-area: level;
}

.race {
  grid-area: race;
}

.class {
  grid-area: class;
}

.player {
  grid-area: player;
}

.experience {
  grid-area: experience;
}
