.notification {
  width: 100vw;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  justify-content: center;
  gap: 0.5rem;
}

.notification-item {
  cursor: pointer;

  color: var(--primary-bg);
  background-color: var(--success);

  padding: 1rem 2rem;
  padding-left: 1.5rem;
  border-radius: 2rem;
  width: 100%;
  max-width: 80vw;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.notification-item.error {
  color: var(--primary);
  background-color: var(--danger);
}

.notification-item > svg {
  font-size: 2rem;
}

@media screen and (min-width: 425px) {
  .notification-item {
    max-width: 40rem;
  }
}

@media screen and (min-width: 768px) {
  .notification-item {
    max-width: 60rem;
  }
}
