.productItemPrice {
  color: var(--secondary-bg);
  font-size: 2.4rem;
  line-height: 2rem;

  display: flex;
}

.productItemPrice > *:nth-child(2) {
  color: var(--primary-bg);
}

.productItemPrice-money {
  font-size: 0.6em;
  font-weight: 300;
  align-self: center;

  margin-right: 0.4em;
}

.productItemPrice-value {
  font-weight: 700;
}

.productItemPrice-cents {
  font-size: 0.6em;
  font-weight: 300;
  align-self: flex-start;
  margin-top: -0.25em;
  margin-left: -0.1em;
}

@media screen and (min-width: 425px) {
  .productItemPrice {
    font-size: 3rem;
  }
}
