.productSelectInput {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr auto;
  justify-content: flex-start;
  align-items: center;

  background: var(--primary);
  color: var(--primary-bg);
  font-size: 1.6rem;
  line-height: 1.6rem;

  width: 100%;
  padding: 1rem;
  padding-right: 1.5rem;
  border-radius: 2.5rem;
}

.productSelectInput-checkedmark {
  line-height: 1rem;
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 425px) {
  .productSelectInput {
    font-size: 1.8rem;
    line-height: 2rem;
    padding-right: 2rem;
  }

  .productSelectInput {
    height: 100%;
  }

  .productSelectInput > span {
    margin-right: 1rem;
  }

  .productSelectInput-checkedmark {
    line-height: 1rem;
    font-size: 2.5rem;
    margin-right: 0.5rem;
  }
}
